# Ignore temporary / binary files
*.o
*.obj
*.a
*.pyc
*.log

# Ignore temporary directories
__pycache__

# Ignore storage directories
postgres_data/
**/logging
**/back_logs/logging_cart.txt
!/logging
all_saved_imgs/
**/saved_imgs

.idea/
venv
kafka_logs
*.env